<button
  class="relative cursor-pointer lg:hidden space-y-2 z-50 p-2"
  aria-label="Abrir Menú"
  aria-expanded="false"
  aria-controls="mobile-menu"
  id="toggleButton"
>
  <span
    class="line transition-transform duration-300 ease-in-out transform"
    id="line-1"></span>
  <span class="line transition-transform duration-300 ease-in-out" id="line-2"
  ></span>
  <span
    class="line transition-transform duration-300 ease-in-out transform"
    id="line-3"></span>
</button>

<style>
  .line {
    display: block;
    background: var(--color-black);
    height: 0.125rem;
    width: 2rem;
  }
</style>
