---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";

import NotFoundImage from "../assets/404.png";
---

<Layout>
  <div class="absolute top-0 -z-10 h-full w-full bg-white">
    <div
      class="absolute bottom-auto left-auto right-0 top-0 h-[500px] w-[500px] -translate-x-[30%] translate-y-[20%] rounded-full bg-[rgba(173,109,244,0.5)] opacity-50 blur-[80px]"
    >
    </div>
  </div>

  <div class="min-h-dvh flex justify-center items-center">
    <div
      class="flex flex-col lg:flex-row-reverse justify-center lg:justify-between items-center text-center lg:text-left gap-5"
    >
      <Image
        src={NotFoundImage}
        alt="Página no encontrada"
        class="w-[250px] lg:w-[350px]"
      />
      <div class="space-y-3.5">
        <p class="font-black text-9xl text-black">404</p>
        <h1 class="text-2xl lg:text-3xl font-semibold">
          Página no encontrada.
        </h1>
        <p class="text-lg text-balance">
          Lo sentimos, la página que busca no existe en nuestros dominios.
        </p>
        <a
          href="/"
          class="mt-5 inline-block bg-indigo-100 py-3.5 px-7 font-semibold text-2xl lg:text-xl rounded-xl hover:bg-indigo-200 transition-colors"
          >Ir al Inicio</a
        >
      </div>
    </div>
  </div>
</Layout>
