---
const { title, description } = Astro.props;
---

<head>
  {/* JSON-LD */}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "@id": "https://sistemasabc.net/#informacion",
      "name": "Sistemas ABC",

      "alternateName": [
        "Sistema Contable ABC",
        "[Software Contable ABC]",
        "[abc sistemas]",
        "[Sistema ABC Contabilidad]"
      ],

      "url": "https://sistemasabc.net",
      "logo": "https://sistemasabc.net/images/logo.svg",

      "contactPoint": {
        "@type": "ContactPoint",
        "contactType": "customer service",
        "email": "[sistemas.abc@yahoo.com]",
        "areaServed": "[Centroamérica]",
        "availableLanguage": ["Spanish"]
      },

      "sameAs": [
        "https://www.facebook.com/sistemasabcnet",
        "https://www.instagram.com/sistemasabc/",
        "https://www.youtube.com/@SistemasABC/videos",
        "https://www.linkedin.com/in/sistemas-abc-a03b8116b"
      ]
    }
  </script>

  {/* Meta Tags */}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <meta name="description" content={description} />
  <title>{title}</title>

  {/* SEO Meta Tags */}
</head>
