---
//Components Import
import Head from "./Head.astro";
import Header from "../components/navigation/Header.astro";

//CSS Import
import "../styles/global.css";

const { title = "Sitio Web", description = "Description" } = Astro.props;
---

<!doctype html>
<html lang="es">
  <Head {title} {description} />
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
